<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改书籍信息</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
    <link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-style.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-media.css}" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.gritter.css}" />
</head>
<body>
<!--引入头部和侧边栏-->
<div th:replace="commonts/bar::topbar"></div>
<div th:replace="commonts/bar::#sidebar(active='updateBook')"></div>
<div id="content">
    <div th:replace="commonts/bar::#content-header(page='修改')"></div>
    <div class="container-fluid">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>修改书籍</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="updateBook" method="post" class="form-horizontal" enctype="multipart/form-data" id="form">
                        <input type="hidden" name="bid" th:value="${book.bid}">
                        <input type="hidden" name="beforePicture" th:value="${book.picture}">

                        <!--修改封面-->
                        <div class="control-group">
                            <label class="control-label">封面 :</label>
                            <div class="controls">
                                <div id="display_none"><img th:src="@{${book.picture}}" alt="" width="90" height="128" /></div>
                                <input type="file" name="pic" class="form-control-file" id="exampleFormControlFile1" onchange="show(this)"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">书籍名称 :</label>
                            <div class="controls">
                                <input type="text" class="span9" placeholder="书籍名称" id="bname" name="bname" th:value="${book.bname}"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">作者名称 :</label>
                            <div class="controls">
                                <input type="text" class="span9" placeholder="作者名称" id="author" name="author" th:value="${book.author}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">库存 :</label>
                            <div class="controls">
                                <input type="text" class="span9" placeholder="库存" id="inventory" name="inventory" th:value="${book.inventory}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">类型 :</label>
                            <div class="controls">
                                <select class="form-control" name="type">
                                    <option  th:selected="${book.type eq bookType.type}"
                                             th:each="bookType:${bookTypes}"
                                             th:value="${bookType.tid}"
                                             th:text="${bookType.type}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="button" onclick="checkNull()" class="btn btn-success" th:value="修改">
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/matrix.js}"></script>
<script th:src="@{/js/excanvas.min.js}"></script>
<script th:src="@{/js/jquery.ui.custom.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.flot.min.js}"></script>
<script th:src="@{/js/jquery.flot.resize.min.js}"></script>
<script th:src="@{/js/jquery.peity.min.js}"></script>
<script th:src="@{/js/fullcalendar.min.js}"></script>
<script th:src="@{/js/matrix.dashboard.js}"></script>
<script th:src="@{/js/jquery.gritter.min.js}"></script>
<script th:src="@{/js/matrix.chat.js}"></script>
<script th:src="@{/js/jquery.validate.js}"></script>
<script th:src="@{/js/matrix.form_validation.js}"></script>
<script th:src="@{/js/jquery.wizard.js}"></script>
<script th:src="@{/js/jquery.uniform.js}"></script>
<script th:src="@{/js/select2.min.js}"></script>
<script th:src="@{/js/matrix.popover.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/matrix.tables.js}"></script>
<script>
    function show(f){
        var rd = new FileReader();//创建文件读取对象
        var files = f.files[0];//获取file组件中的文件
        rd.readAsDataURL(files);//文件读取装换为base64类型
        $("#display_none").show();
        rd.onloadend = function(e) {
            //加载完毕之后获取结果赋值给img
            $("#display_none").html("<img src='"+this.result+"' width=\"90\" height=\"128\"/>")
        }
    }

    function checkNull(){
        var bname = $("#bname").val();
        var author = $("#author").val();
        var inventory = $("#inventory").val();
        if(bname==''||author==''|inventory==''){
            alert("请将信息填写完整");
        }else{
            $("#form").submit();
        }
    }
</script>
</html>