<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加书籍</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
    <link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-style.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-media.css}" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.gritter.css}" />
</head>
<body>
<!--引入头部和侧边栏-->
<div th:replace="commonts/bar::topbar"></div>
<div th:replace="commonts/bar::#sidebar(active='addBook')"></div>
<div id="content">
    <div th:replace="commonts/bar::#content-header"></div>
    <div class="container-fluid">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>修改书籍</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="updateBook" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="control-group">
                            <label class="control-label">书籍名称 :</label>
                            <div class="controls">
                                <input type="text" class="span9" placeholder="书籍名称" name="bname" th:value="${book.bname}"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">作者名称 :</label>
                            <div class="controls">
                                <input type="text" class="span9" placeholder="作者名称" name="author" th:value="${book.author}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">库存 :</label>
                            <div class="controls">
                                <input type="text" class="span9" placeholder="库存" name="inventory" th:value="${book.inventory}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">类型 :</label>
                            <div class="controls">
                                <select class="form-control" name="type">
                                    <option th:selected="${book.type eq '历史'}" value="历史">历史</option>
                                    <option th:selected="${book.type eq '小说'}" value="小说">小说</option>
                                    <option th:selected="${book.type eq '科幻'}" value="科幻">科幻</option>
                                    <option th:selected="${book.type eq '文学'}" value="文学">文学</option>
                                    <option th:selected="${book.type eq '音乐'}" value="音乐">音乐</option>
                                    <option th:selected="${book.type eq '工具'}" value="工具">工具</option>
                                    <option th:selected="${book.type eq '语言'}" value="语言">语言</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">修改封面 :</label>
                            <div class="controls">
                                <input type="file" name="pic" class="form-control-file" id="exampleFormControlFile1"/>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-success" th:value="添加">
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>